<% if !conversation.is_unread?(current_user) %>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <% if !conversation.participants.find { |p| p != current_user }.nil? %>
          <%= conversation.participants.find { |p| p != current_user }.name %> <br>
        <% else %>
          You <br>
        <% end %>
        <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
      </h4>
      <%= truncate conversation.messages.last.body, length: 145 %>
      <%= link_to "View", conversation_path(conversation)  %>
    </div>
  </div>

<% else %>

    <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <% if !conversation.participants.find { |p| p != current_user }.nil? %>
                   <b> <font color="blue">  <%= conversation.participants.find { |p| p != current_user }.name %> <br> </font> </b> <br>
        <% else %>
          <b> <font color="blue"> You <br> </font> </b> <br>
        <% end %>
        <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
      </h4>
      <%= truncate conversation.messages.last.body, length: 145 %>
      <%= link_to "View", conversation_path(conversation)  %>
    </div>
  </div>

<% end %>